body {
	padding: 10px 20px;
}

#map-container {
    height: 400px;
    width: 100%;
}

#last-crimes-container {
	width: 200px;
	margin-bottom: 40px;
}

#last-crimes-list {
	width: 100%;
}

button {
	padding: 0;
	margin: 0;
}

div[id^="form"] {
	width: 100%;
}

div[id^="form"] div {
	display: inline-block;
	width: 300px;
	margin: 5px 0;
}

div[id^="form"] label {
	width: 80px;
	padding-right: 5px;
	text-align: right;
}

.container {
	width: 90%;
}

#crime-details-modal {
	display: none;
	position: absolute;
	top: 50px;
	left: 200px;
	width: 200px;
	height: 160px;
	background-color: #333;
	color: #ddd;
	box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
	padding: 10px 10px;
}

#crime-details {
	width: 100%;
	height: 100%;
}
#crime-labels {
	font-weight: bold;
	width: 40%;
	float: left;
	padding-right: 5px;
}
#crime-labels p {
	display: flex;
	justify-content: right;
}
#crime-infos {
	width: 60%;
	float: right;
}
#close-button {
	position: absolute;
	top: -1px;
	right: 3px;
	font-weight: bold;
	cursor: default;
}